.results {
    max-width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 60px;

    .header {
        width: 100%;
        display: flex;
        justify-content: center;

        > .logo {
            max-width: 50vw;
            height: auto;
            padding-top: 4vh;
            padding-bottom: 4vh;
        }
    }

    .back-btn {
        top: auto;
        right: 20px;
        bottom: 20px;
        left: auto;
        position: fixed;
    }
}
