<div class="home">
    <div class="content">
        
        <div class="header">
            <img class="logo"
                 src="assets/logo.png">
        </div>

        <div class="search-form">
            <input [formControl]="searchQuery"
                   type="text" 
                   placeholder="Ex: John Wick"
                   (keydown.enter)="search()">
            <button class="action"
                    (click)="search()">
                Search
            </button>
        </div>
    </div>
</div>

<app-generic-loading *ngIf="showLoading">
</app-generic-loading>


